@import 'layout';

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

mat-icon,
.footer__social-link {
  height: 48px;
  width: 48px;
}

.footer__bio {
  display: flex;
  align-items: center;

  .footer__social-link {
    margin: 0 $margin;
    display: block;

    &:last-child {
      margin: 0;
    }
  }
}

.footer__powered-by {
  display: flex;
  align-items: center;
}

.footer__powered-icon {
  margin-left: 4px;
}
