@import 'layout';
@import 'breakpoints';

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  height: $footerHeight;

  position: sticky;
  bottom: 0;
}

.footer__social-link {
  height: 24px;
  width: 24px;
}

.footer__bio {
  display: flex;
  align-items: center;

  .footer__social-link {
    display: block;

    margin: 0 16px 0 0;

    @include bp-small {
      margin: 0 16px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.footer__powered-by {
  display: flex;
  align-items: center;
}

.footer__powered-icon {
  margin-left: 4px;
}

.footer__author {
  display: none;

  @include bp-small {
    display: block;
  }
}
