// Import library functions for theme creation.
@import '~@angular/material/theming';

$__primary: (
  50: #fce6e5,
  100: #f8c2bd,
  200: #f49991,
  300: #ef7065,
  400: #eb5144,
  500: #e83223,
  600: #e52d1f,
  700: #e2261a,
  800: #de1f15,
  900: #d8130c,
  A100: #ffffff,
  A200: #ffd1d0,
  A400: #ffa09d,
  A700: #ff8784,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$__accent: (
  50: #fef2f1,
  100: #fcdedd,
  200: #fac8c6,
  300: #f7b1af,
  400: #f6a19e,
  500: #f4908d,
  600: #f38885,
  700: #f17d7a,
  800: #ef7370,
  900: #ec615d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeeee,
  A700: #ffd6d4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$__accent-additional-keys: (
  anchor: map-get($__accent, 500)
);

$primary: mat-palette($__primary);
$accent: mat-palette(map-merge($__accent, $__accent-additional-keys));
